/* Estilo Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
    
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 15px #2bfa32;
    transform: scale(1.05);
}

h2.title{
    color: white;
    font-size: 40px;
    text-align: center;
}

h2.title span{
    color: #00ff08;
}

/* Estilo Cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{ 
    color: #3a3a3a;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
} 

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;

}   

header nav ul li{
    display: inline-block;
    padding: 0 50px;
}

/* TOPO DO SITE */

section.topo-site{
    padding: 40px 4%;

}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;  
}

.topo-site p{
    color: white;
    font-size: 25px;
    margin: 20px ;
    justify-content: center;
    align-items: center;
}

.topo-site span{
    color: #00ff08;
}

.img-topo-site{
    position: relative;
    animation: float 3s ease-in-out infinite alternate;
}

@keyframes float{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILOS DAS ESPECIALIDADES */

section.Especialidades{
    padding: 40px 4%;
}

section.Especialidades .flex{
    gap: 60px;
}

.Especialidades .especialidades-box{
    color: white;
    padding: 40px;
    border-radius: 22px;
    border: 2px solid #fff;
    margin-top: 45px;
    transition: 1s;
    margin-bottom: 70px;
}

.Especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffffaf;
}

.Especialidades .especialidades-box i{
    font-size: 65px;
    color: #00ff08;

}

.Especialidades .especialidades-box h3{
    font: 26px;
    margin: 15px 0;
}

.Especialidades .interface .title{
    margin-top: 180px;
    margin-bottom: 40px;
}

/* ESTILO DO SOBRE */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: white;
}

.sobre .txt-sobre h2{
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 30px;

}

.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p{
    margin-bottom: 10px;
}